<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Передаём заголовок Authorization в PHP
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Если запрашивают существующий файл или папку - не трогаем
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Все запросы направляем в index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>